// copied straight from MAS
// to be customised!
$column-width: 60px !default;
$gutter-width: 40px !default;
$columns: 12 !default;
$total-width: 100%;

@function gridsystem-width($columns: $columns) {
  @return ($column-width * $columns) + ($gutter-width * $columns);
}

@mixin column($x, $columns: $columns) {
  // display: inline;
  float: left;
  width: $total-width * (((($gutter-width + $column-width) * $x) - $gutter-width) / gridsystem-width($columns));
  margin-left: $total-width * (($gutter-width * .5) / gridsystem-width($columns));
  margin-right: $total-width * (($gutter-width *.5) / gridsystem-width($columns));
}
